<div class="container h-screen flex justify-start items-center">
  <form class="w-full">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="block mb-1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="block mb-1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="flex gap-2 mb-3">
      <input type="checkbox" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn-primary">Submit</button>
  </form>

</div>
